<div class="container">
  <mat-card fxFill style="padding: 0">
    <mat-card-content fxFill>
      <form [formGroup]="dataForm" class="form" (ngSubmit)="onValidate()">
        <h1>Ajouter une donnée</h1>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Nom du lieu" formControlName="titleFormControl" />
        </mat-form-field>
        <mat-form-field class="semi-width-input">
          <input matInput type="number" placeholder="Latitude" formControlName="latFormControl" />
        </mat-form-field>
        <mat-form-field class="semi-width-input">
          <input matInput type="number" placeholder="Longitude" formControlName="lngFormControl" />
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <textarea matInput placeholder="Description du lieu" formControlName="descriptionFormControl"></textarea>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <mat-select placeholder="Genre du lieu" [(value)]="selectedGenre" formControlName="genreFormControl">
            <mat-option *ngFor="let genre of genres" [value]="genre">
              {{ genre.nom }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width-input" *ngIf="selectedGenre != null">
          <mat-select placeholder="Sous-genre du lieu" formControlName="sousGenreFormControl" multiple>
            <mat-option *ngFor="let sousGenre of selectedGenre.sous_genres" [value]="sousGenre">
              {{ sousGenre.nom }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div mat-dialog-actions>
          <button mat-mini-fab color="primary" type="reset" matTooltip="Annuler">
            <mat-icon>clear</mat-icon>
          </button>
          <button mat-mini-fab color="primary" type="submit" matTooltip="Valider" [disabled]="!dataForm.valid">
            <mat-icon>done</mat-icon>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
