<div fxFlex>
  <mat-sidenav-container fxFill>
    <!-- <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" [disableClose]="!isMobile"
                 ngClass.gt-sm="has-border"> -->
    <mat-sidenav #sidenav mode="over" opened="false">
      <nav>
        <mat-list>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="sidenav.close()">
            <mat-icon>home</mat-icon>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/map" routerLinkActive="active" (click)="sidenav.close()">
            <mat-icon>explore</mat-icon>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/dataform" routerLinkActive="active" (click)="sidenav.close()">
            <mat-icon>insert_comment</mat-icon>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/about" routerLinkActive="active" (click)="sidenav.close()">
            <mat-icon>more</mat-icon>
          </a>
          <mat-divider></mat-divider>
        </mat-list>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="mat-elevation-z6">
        <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <div fxFlex></div>
        <span>gÔToulouse</span>
        <div fxFlex></div>
        <!-- <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>layers</mat-icon>
        </button> -->
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
